<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% block TITULO %}
        <h1 style = "color:orange;">BIENVENIDO A NUESTRO SITIO WEB</h1>
    {% endblock TITULO %}
    <br>
    {% block CONTENIDO %}
    {% endblock CONTENIDO %}
    <br>
    {% block CONTENIDO3 %}
    {% endblock CONTENIDO3 %}
    <br>
    <br>
    {% block CONTENIDO1 %}
    {% endblock CONTENIDO1 %}
    <br>
    {% block CONTENIDO2 %}
    {% endblock CONTENIDO2 %}
    <br>
    <br>
    <br>
    <br>
    <p>2023 TODOS LOS DERECHOS RESERVADOS</p>
</body>
</html>    